select{
    border: 2px solid black;
    border-radius: 6px;
    width: 100%;
    padding: 4px;
}

label{
    font-size: 14px;
    font-weight: 500;
}

input, textarea{
  margin-top: 0.25rem;             
  width: 100%;                      
  background-color: transparent;    
  border: none;                     
  border-bottom: 2px solid rgba(0, 0, 0, 0.6); 
  outline: none;                    
}

input,textarea:focus {
  border-bottom-color: rgb(0, 0, 0);
}
