<header class="fixed w-full h-screen z-50">
  <div class="flex flex-col bg-cyan-100/30 backdrop-blur-sm">
    <div class="flex justify-between w-full h-20 px-5">
      <div class="w-52 h-20 p-2.5">
        <a href="">
          <img class="w-full h-full" src="https://www.eqsinternational.com/Image/LogoEQS.webp" alt="">
        </a>
      </div>
      <div class="flex items-center justify-center h-full">
        <div class="h-full hidden lg:inline-block">
          <nav class="h-full">
            <ul class="flex items-center justify-center text-center h-full gap-5">
              @for (orden of encabezado; track orden.id) {
              <li class="font-semibold hover:font-bold hover:scale-110">
                <a class="" href="">{{orden.nombre}}</a>
              </li>
              }
              <li>
                <button class="cursor-pointer hover:scale-105" (click)="toggleMenuLogin()">
                  <span class="material-symbols-outlined">
                    login
                  </span>
                </button>
              </li>
            </ul>
          </nav>
        </div>
        <div class="flex items-center justify-center pl-5 lg:hidden h-full">
          <button class="cursor-pointer h-full" (click)="toggleMenu()">
            <span class="material-symbols-outlined">
              {{ menuOpen ? 'close' : 'dehaze' }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  @if (menuOpen) {
  <div class="p-7.5 z-10 lg:hidden h-screen  bg-cyan-100/30 backdrop-blur-sm">
    <ul class="flex flex-col h-full gap-5">
      @for (orden of encabezado; track orden.id) {
      <li class="font-semibold hover:font-bold">
        <a href="">{{ orden.nombre }}</a>
      </li>
      }
      <li>
        <button class="cursor-pointer hover:scale-105" (click)="toggleMenuLogin()">
          <span class="material-symbols-outlined">
            login
          </span>
        </button>
      </li>
    </ul>
  </div>
  }
  @if(isOpenLogin){
  <div class="h-screen flex flex-col bg-cyan-100/30 backdrop-blur-sm items-center justify-center">
    <div class="flex flex-col border-2 border-[#000066] items-center gap-2.5 justify-center  shadow-xl rounded-lg  bg-cyan-100/30 p-7">
      <div class="">
        <span class="material-symbols-outlined icon-big">
          account_circle
        </span>
      </div>
      <div class="">
        <h1 class="font-semibold text-[30px]">LOGIN</h1>
      </div>
      <div class="grid gap-7 text-[px]">
        <div class="flex flex-col gap-2.5">
          <label for="User">User</label>
          <input id="User" type="text" placeholder="User"
            class="border-2 border-[#000066] rounded-lg p-2.5 outline-none focus:outline-none ring-0 focus:ring-0" />
        </div>
        <div class="flex flex-col gap-2.5">
          <label for="User">Password</label>
          <input id="User" type="text" placeholder="Password"
            class="border-2 border-[#000066] rounded-lg p-2.5 outline-none focus:outline-none ring-0 focus:ring-0" />
        </div>
        <div class="flex items-center justify-center w-full">
          <button
            class="rounded-lg w-[90%] p-3.5 cursor-pointer border-2 border-[#000066] hover:bg-green-600 hover:text-white!">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
  }
</header>